name: CD Pipeline

on:
  workflow_run:
    workflows: ["CI pipeline"]
    types:
      - completed

jobs:

  build:
    runs-on: self-hosted

    steps:
    - name: Pull Docker image
      run: sudo docker pull xialin0505/cicd-pipeline:latest
    - name: Delete old container
      run: sudo docker rm -f cicd-pipeline-container || true
    - name: Run docker container
      run: sudo docker run -d -p 8080:8080 --name cicd-pipeline-container xialin0505/cicd-pipeline